<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: black;">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="position-relative">
          <div class="position-absolute top-0 start-0">
            <img
              style="width: 150px"
              src="https://e7.pngegg.com/pngimages/613/484/png-clipart-pizza-logo-illustration-pizza-logo-logo-free-logo-design-template-food.png"
              alt=""
            />
          </div>
        </div>
        <div
          class="collapse navbar-collapse position-absolute top-0 end-0"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Pizza</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Order</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Registration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br /><br /><br /><br /><br /><br /><br /><br />

    <section
      style="
        display: flex;
        display: inline-flex;
        justify-content: space-between;
      "
      class="container position-absolute top-50 start-50 translate-middle"
    >
      <div class="card" style="width: 18rem">
        <img
          src="https://s1.eda.ru/StaticContent/Photos/120131085053/171027192707/p_O.jpg"
          class="card-img-top"
          alt="..."
        />
        <h5 class="card-title">Peperoni</h5>
        <p class="card-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat
          ipsam illo quod minus nobis sequi, incidunt voluptatibus explicabo
          illum. Sit cupiditate expedita deleniti velit autem. Quod illo porro
          consequuntur? Temporibus.
        </p>
        <a href="#" class="btn btn-primary">Order</a>
        <div class="card-body"></div>
      </div>
      <br /><br />

      <div class="card" style="width: 18rem">
        <img
          src="https://img.kidspot.com.au/pZnR2nZu/kk/2015/03/hawaiian-pizza-recipe-605894-2.jpg"
          class="card-img-top"
          alt="..."
        />
        <h5 class="card-title">Gawai</h5>
        <p class="card-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat
          ipsam illo quod minus nobis sequi, incidunt voluptatibus explicabo
          illum. Sit cupiditate expedita deleniti velit autem. Quod illo porro
          consequuntur? Temporibus.
        </p>
        <a href="#" class="btn btn-primary">Order</a>
        <div class="card-body"></div>
      </div>
      <br /><br />

      <div class="card" style="width: 18rem">
        <img
          src="https://ca.gozney.com/cdn/shop/articles/Philly_Cheesesteak_PIzza_Adam_Purnell__shropshirelad_2.jpg?v=1644241455"
          class="card-img-top"
          alt="..."
        />
        <h5 class="card-title">Steack</h5>
        <p class="card-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat
          ipsam illo quod minus nobis sequi, incidunt voluptatibus explicabo
          illum. Sit cupiditate expedita deleniti velit autem. Quod illo porro
          consequuntur? Temporibus.
        </p>
        <a href="#" class="btn btn-primary">Order</a>
        <div class="card-body"></div>
      </div>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
